/* Estilo general */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f4;
    margin:0;
    padding:0;
}

/* Encabezado */
header{
    background:#1a1aad;
    color:white;
    text-align:center;
    padding:20px;
}

/* Menú */
nav{
    background:#333;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

nav a:hover{
    color:rgb(38, 155, 67);
}

/* Secciones */
section{
    width:80%;
    margin:auto;
    padding:20px;
}

/* Artículos */
article{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:5px;
}

/* Aside */
aside{
    background:#eee;
    padding:15px;
    border-left:5px solid #254396;
    margin-top:20px;
}

/* Footer */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

/* Imágenes */
img{
    margin:10px;
    border-radius:5px;
}

/* Tablas */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background-color:#1616c4;
    color:white;
    padding:10px;
    border:1px solid rgb(131, 24, 24);
}

td{
    border:1px solid black;
    padding:10px;
    text-align:center;
}

/* Formularios */
form{
    background:white;
    padding:20px;
    width:60%;
    margin:auto;
    border-radius:5px;
}

input, select, textarea{
    width:100%;
    padding:8px;
    margin:5px 0 15px 0;
}

/* Contenedor */
.contenedor{
    width:80%;
    margin:auto;
    background:white;
    padding:20px;
    display:flex;
    gap:20px;
}

.caja{
    background:#1a1aad;
    color:white;
    padding:20px;
    flex:1;
    text-align:center;
}
